@import "layouts/footer.css";
@import "layouts/header.css";

:root {
    --orange: #D78C35;
    --orangeLight: #F6E3CE;
}

* {
    padding: 0;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a, a:visited {
    text-decoration: none;
}
:root {
    --side-padding: 10vw;
}
body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-content {
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
}
.btn {
    border: none;
    border-radius: calc(30px + 1.2rem);
    padding: 15px 25px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(12, 12, 12, 0.15);
    transition: .3s all;
}
.btn:hover {
    transform: scale(1.05);
}
.btn.btn-primary, .btn.btn-primary:hover {
    background-color: #D78C35;
    color: #fff;
}
.btn.btn-secondary, .btn.btn-secondary:hover {
    background-color: #fff;
    color: #7E7E7E;
}
.btn.btn-tertiary, .btn.btn-tertiary:hover {
    background-color: #DFAC71;
    color: #fff;
}

/* Default title */
div.container-text span.pre {
    color: #D78C35;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin: 0;
    padding: 0;
}
div.container-text span.pre::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -100px;
    width: 75px;
    height: 1px;
    background-color: #D78C35;
}
div.container-text h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #272424;
    text-transform: uppercase;
    white-space: pre-line;
    margin: 5px 0 0;
}
div.container-text h2 span {
    color: #D78C35;
}
div.container-text p {
    font-size: 1.1rem;
    font-weight: 300;
    color: #7E7E7E;
    padding: 0;
    margin: 15px 0 0;
}
div.container-text.reverse span.pre {
    color: #272424;
}
div.container-text.reverse span.pre::after {
    background-color: #272424;
}
div.container-text.reverse h2 {
    color: #fff;
}
div.container-text.reverse p {
    color: #fff;
}

@media (max-width: 1200px) {
    div.container-text h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
    div.container-text p {
        font-size: 1rem;
    }
    .btn-content {
        flex-direction: column;
    }
}
@media (max-width: 991px) {
    div.container-text h2 {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
    div.container-text p {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
        min-width: 150px;
    }
    .btn-content {
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .btn-content {
        flex-direction: column;
    }
    .btn {
        min-width: 200px;
    }
}
