section#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 75px var(--side-padding);
    box-sizing: border-box;
}
section#contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #D78C35;
    z-index: -1;
}
section#contact div.container-text {
    width: 80%;
    text-align: center;
}
section#contact div.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    row-gap: 25px;
    margin-top: 75px;
}
section#contact div.container a.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 25px;
    transition: .3s all;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
section#contact div.container a.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
section#contact div.container a.box:active {
    transform: scale(0.95);
}
section#contact div.container a.box div.container-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6E3CE;
}
section#contact div.container a.box div.container-image img {
    height: 50%;
}
section#contact div.container a.box div.container-text {
    text-align: center;
    margin-top: 25px;
}
section#contact div.container a.box div.container-text h3 {
    font-size: 2rem;
    color: #D78C35;
    font-weight: 600;
    margin: 0;
}
section#contact div.container a.box div.container-text p {
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 991px) {
    section#contact div.container {
        width: 100%;
        flex-direction: column;
    }
    section#contact div.container a.box div.container-image {
        height: 75px;
        width: 75px;
    }
    section#contact div.container a.box div.container-text h3 {
        font-size: 1.6rem;
    }
}
