section#services {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 100px var(--side-padding);
    box-sizing: border-box;
}
section#services div.container-text {
    width: 55%;
}
section#services div.content {
    width: 100%;
    margin-top: -10vh;
    padding-bottom: 20vh;
    position: relative;
}
section#services div.content svg {
    width: 100%;
}
section#services div.content .box {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
}

section#services div.content .box:nth-child(3) {
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}
section#services div.content .box:nth-child(4) {
    bottom: 75px;
    right: 0;
}
section#services div.content .box .box-icon {
    padding: 25px;
    box-sizing: border-box;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0;
}
section#services div.content .box .box-icon svg {
    height: 65%;
}
section#services div.content .box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #D78C35;
    text-align: left;
    margin: 25px 0 0;
}
section#services div.content .box p {
    font-size: 1rem;
    font-weight: 300;
    color: #7E7E7E;
    margin: 5px 0 0;
    text-align: justify;
}

@media (max-width: 991px) {

    section#services div.content .box .box-icon {
        height: 100px;
        width: 100px;
    }
    section#services div.content .box h3 {
        font-size: .9rem;
    }
    section#services div.content .box p {
        font-size: .7rem;
    }
    section#services div.content .box, section#services div.content .box:nth-child(4) {
        bottom: 100px;
    }
    section#services div.content .box:nth-child(3) {
        bottom: 175px;
    }
    section#services div.container-text {
        width: 75%;
    }
}
@media (max-width: 768px) {
    section#services div.container-text {
        width: 100%;
    }
    section#services div.content svg {
        display: none;
    }
    section#services div.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        row-gap: 25px;
        padding-bottom: 0;
    }
    section#services div.content div.box {
        position: relative;
        width: 100%;
        bottom: auto !important;
        left: auto !important;
        right: auto !important;
        transform: none !important;
        text-align: center;
        align-items: center;
    }
    section#services div.content div.box svg {
        display: block;
    }
    section#services div.content div.box p {
        text-align: center;
    }
    section#services {
         padding: 100px var(--side-padding);
        padding-bottom: 25px;
    }
}
