section#welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
section#welcome div.container-text {
    width: 60%;
    padding-left: var(--side-padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
section#welcome img#logo {
    height: 75px;
    position: absolute;
    left: var(--side-padding);
    top: 25px;
}
section#welcome div.container-text h1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: #272424;
    text-transform: uppercase;
    white-space: pre-line;
    line-height: 4rem;
    margin: 0;
}
section#welcome div.container-text h1 span {
    color: #D78C35;
    font-weight: 900;
    text-transform: uppercase;
}
section#welcome div.container-text p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #7E7E7E;
    line-height: 2rem;
    margin: 25px 0 0;
}
section#welcome div.container-text .btn-content {
    margin-top: 25px;
}
section#welcome div.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
section#welcome div.container-image img#landing {
    height: 100vh;
}
section#welcome div.container-image img#tube1 {
    height: 30vh;
    position: absolute;
    top: 0;
    right: 0;
    animation: bounce 5s ease-in-out infinite, translate-diagonal 17s linear infinite;
}
section#welcome div.container-image img#tube2 {
    height: 35vh;
    position: absolute;
    bottom: 5vh;
    right: 0;
    animation: bounce 5s ease-in-out infinite, translate-diagonal 10s linear infinite;
}
section#welcome div.container-image svg.window {
    height: 35vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: bounce-custom 5s ease-in-out infinite;
}
section#welcome div.container-text svg.windowMobile {
    height: 25vh;
    margin-bottom: 25px;
    animation: bounce-customMobile 5s ease-in-out infinite;
    display: none;
}
section#welcome div.container-image svg.window .scaleAnimation {
    animation: scale 7s infinite ease-in-out;
    transform-origin: center;
    position: relative;
}
section#welcome div.container-image svg.window .scaleAnimation2 {animation: scale 6.8s infinite alternate;}
section#welcome div.container-image svg.window .scaleAnimation3 {animation: scale 7.2s infinite alternate;}
section#welcome div.container-image svg.window .scaleAnimation4 {animation: scale 8.2s infinite alternate;}
section#welcome div.container-image svg.window .scaleAnimation5 {animation: scale-reverse 8.9s infinite alternate;}

@media (max-width: 1400px) {
    section#welcome div.container-text {
        width: 50%;
        padding-right: 5%;
    }
    section#welcome div.container-text h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    section#welcome div.container-text p {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}
@media (max-width: 1200px) {
    section#welcome div.container-text {
        width: 45%;
        padding-right: 5%;
    }
    section#welcome div.container-text h1 {
        font-size: 2.4rem;
        line-height: 2rem;
    }
}
@media (max-width: 991px) {
    section#welcome {
        flex-direction: column;
        justify-content: center;
    }
    section#welcome div.container-text {
        width: 100%;
        padding-right: var(--side-padding);
        padding-top: 50px;
    }
    section#welcome div.container-text h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    section#welcome div.container-text p {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    section#welcome div.container-image img#landing {
        display: none;
    }
    section#welcome div.container-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section#welcome div.container-image img#tube1, section#welcome div.container-image svg.window {
        display: none;
    }
    section#welcome div.container-image img#tube2 {
        height: 25vh;
    }
    section#welcome div.container-image svg.window {
        height: 25vh;
        bottom: 0;
        right: 15vw;
        left: auto;
        top: calc(100% - 15vh);
    }
    section#welcome div.container-text svg.windowMobile {
        display: none;
    }
    section#welcome img#logo {
        height: 150px;
    }
}
@media (max-width: 768px) {
    section#welcome div.container-text h1 {
        font-size: 2rem;
        line-height: 1.8rem;
    }
    section#welcome div.container-text p {
        font-size: .8rem;
        line-height: 1.4rem;
    }
    section#welcome div.container-image img#tube2 {
        display: none;
    }
    section#welcome .btn-content .btn:nth-child(2) {
        display: none;
    }
}
